@model Academy.Models.Training.TraningType

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TraningType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TraningCode" class="control-label"></label>
                <input asp-for="TraningCode" class="form-control" />
                <span asp-validation-for="TraningCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TraningName" class="control-label"></label>
                <input asp-for="TraningName" class="form-control" />
                <span asp-validation-for="TraningName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLastUpdated" class="control-label"></label>
                <input asp-for="DateLastUpdated" class="form-control" />
                <span asp-validation-for="DateLastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

